<h3>Human Board</h3>
<table class="board human-board">
  {{render 'battleshipHumanBoard' botBoard}}
</table>

<h3>Bot Board</h3>
<p>Click the squares below to make moves</p>
<table class="board bot-board">
  {{render 'battleshipBotBoard' botBoard}}
</table>

{{outlet}}
