.board {
  width: 250px;
  height: 250px;
}

.board-cell {
  width: 20%;
  height: 50px;
  border: 1px solid black;
}

.has-ship {
  background-color: lime;
}

.has-hit, .has-ship.has-hit {
  background-color: red;
}

.has-miss {
  background-color: gray;
}

