<h3>Place 10 Ships on your board</h3>
<table class="board human-board">
  {{#each rowNums as |rowNum|}}
    <tr class="board-row">
      {{#each colNums as |colNum|}}
        {{#if (ship-at model rowNum colNum)}}
          {{board-cell row=rowNum column=colNum addShip='addShip' hasShip=true}}
        {{else}}
          {{board-cell row=rowNum column=colNum addShip='addShip' hasShip=false}}
        {{/if}}
      {{/each}}
    </tr>
  {{/each}}
</table>

{{outlet}}

