<table class="board human-board">
  <tr class="board-row">
    <td class="board-cell hit"></td>
    <td class="board-cell miss"></td>
    <td class="board-cell ship"></td>
    <td class="board-cell"></td>
    <td class="board-cell"></td>
  </tr>
  <tr class="board-row">
    <td class="board-cell"></td>
    <td class="board-cell"></td>
    <td class="board-cell"></td>
    <td class="board-cell"></td>
    <td class="board-cell"></td>
  </tr>
  <tr class="board-row">
    <td class="board-cell"></td>
    <td class="board-cell"></td>
    <td class="board-cell"></td>
    <td class="board-cell"></td>
    <td class="board-cell"></td>
  </tr>
  <tr class="board-row">
    <td class="board-cell"></td>
    <td class="board-cell"></td>
    <td class="board-cell"></td>
    <td class="board-cell"></td>
    <td class="board-cell"></td>
  </tr>
  <tr class="board-row">
    <td class="board-cell"></td>
    <td class="board-cell"></td>
    <td class="board-cell"></td>
    <td class="board-cell"></td>
    <td class="board-cell"></td>
  </tr>
</table>

<button>Create Game</button>
{{outlet}}
